html {
	margin:0;
	padding:0;
	border:0;
	border-top: 7px solid black;

}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
/*	margin: 0;*/
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: Arial,Verdana,sans-serif;
	vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
	display:block;
}
body {
	line-height: 1.2;
	background: #f8f8f8;
	margin-left: 0;
}
#wrapper {
	width:95%;
	margin:auto;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	float:none !important;
}
table, th, td {
	vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after { content: ''; }
blockquote, q { quotes: "" ""; }

a img { border: none; }

/*:focus { outline: 0; }*/

div#tabs ul {
	margin-top: -16px;
}
div#tabs ul {
	list-style:none;
}
div#tabs ul li {
	float:left;
}
div#tabs ul li:last-child {
	border-right:1px solid black;
}
div#tabs ul li a {
	text-decoration:none;
	padding: 10px;
	display:block;
	background-color:#dedede;
	color:black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
div#tabs ul li a.active {
	background-color:#f8f8f8;
	border-bottom:#f8f8f8 solid 1px;
}
div#tabs ul li.nultab {
	background-color:#dedede;
	width:40px;
	height:39px;
	border-bottom: 1px solid black;
}
div#tabs ul li.nultablast {
	background-color:#dedede;
	width:40px;
	height:39px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}
div#tabs #navclose {
	clear:both;
	height: 8px;
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 100%;
	font-weight:bold;
	margin-bottom: -1em;
}
h3 {
	font-size: 75%;
	margin-bottom: -1em;
}
p {
	margin-bottom: -1em;
}
p.last {
	margin-bottom: 0;
}
p.error {
	color:#ff0000;
}
input#command{
	margin-top: 60px;
	width: 80px;
}
input#name, input#email{
	width: 300px;
}
textarea#issue{
	width: 500px;
	height: 120px;
}